@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh !important;
  background: rgb(255, 60, 0) !important;
}

/* registration page */
.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media (max-width: 550px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
}


.modal-pop {
  font-size: 12px;
  background-color: white;
  width:600px;
}
.modal-pop > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: black;
}
.modal-pop > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal-pop > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal-pop > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

div.popup-content {
  margin: 20px auto !important;
} 
.container {
  /* margin: 30px auto;
  overflow: auto; */
  width:100%;
  height:100%;
  /* height:100%; */
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background: rgb(255, 60, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px auto !important;
}
.navbar{
  width:700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px 50px;
}
.timer-wrapper {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  background-color:rgb(255, 85, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exTitle{
  font-size:larger;
}

.exercises{
  padding:20px 20px;
  width: 700px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.exercises li{
  list-style: none;
}
.text {
  color: white;
}

.value {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.btn-timer-select{
  /* margin: 30px auto;
  overflow: auto; */
  margin: 30px;
  width:400px;
  height:100px;
  border: 1px solid steelblue;
  /* padding: 30px; */
  border-radius: 5px;
  background: rgb(255, 60, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn-select{
  display: inline-block;
  background: white;
  color: red;
  border: none;
  /* height: 30px; */
  padding:10px;
  margin: 30px;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  font-family: inherit;
}
button.btn {
  display: inline-block;
  background: white;
  color: red;
  border: none;
  padding: 10px 20px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 35px;
  font-family: inherit;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

